
details{
    margin: auto;
    border-radius: 10px;
}

summary{
    border-radius: 10px;
    text-align: center;
    background-color: @secondary;
    color: @dark;

    &::-webkit-details-marker {
        display: none;
    }
}

form{
    & input{
        border: none;
    }

    &>button{
        background-color: @success;
        .buttonRound
    }
}

@media (min-width: 500px) {
    details{
        width: 50%;
    }
}

@media (min-width: 700px) {
    details{
        width: 30%;
    }
}