main {
  max-width: 900px;
  margin: 10px auto;
  .Merriweather400;
}

.alert {
  background-color: palevioletred;
  grid-area: alert;
}

.notice {
  grid-area: notice;
  background-color: powderblue;
}

.content {
  grid-area: content;
  background-color: tomato;
}
